
body{
	background-color: rgb(240, 240, 240);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HELPERS */
.mb-0{
    margin-bottom: 0 !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.border-rounded25{
    border-radius: 25px !important;
}

.border-rounded15{
    border-radius: 15px !important;
}

.card-map{
	position: fixed !important;
	height: 650px !important;
	width: 902px !important;
}

#mapa_guanajuato{
    position: fixed;
    background-color: white;
    margin: 15px !important;
    width: 1000px !important;
	height: 630px !important;
}

.seg-logo{
    width: 200px !important;
    border-radius: 80px !important;
}

.sidenav .name {
    font-size: 18px !important;
}

.main-container{
    padding-left: 300px !important;
}

.collapsible-title{
    padding: 0 0 0 25px !important;
    color: rgb(80, 80, 80) !important;
}

.icon-padding-right{
    margin-right: 15px !important;
}

.icon-color{
    color: rgb(80, 80, 80) !important;
}

.available-maps{
    display: none !important;
}

/* ESTILOS PARA LA BARRA DE NAVEGACIÓN DE LOS PARÁMETROS */

    .sidenav-parameters{
        z-index: 100 !important;
    }

    .sidenav-tools{
        z-index: 10 !important;
    }

    .txtTitle-container{
        margin: 20px 5px 0 0 !important;
        padding-left: 0 !important;
    }

    .txtTitle-container{
        margin: 0 !important;
    }

    .dataCategoriesContainer{
        margin-bottom: 50px !important;
    }

    .switch-category-1, .switch-category-2, .switch-category-3,
    .switch-category-4, .switch-category-5{
        margin-top: 10px !important;
        margin-bottom: -30px !important;
    }

    .checkbox-container{
        margin: 4px 0 !important;
    }

    .checkbox-container{
        color: black !important;
    }

    .btn-new-map{
        position: absolute !important;
        right: -30px !important;
        color: white !important;
    }

    .btn-save-map{
        width: 70% !important;
        top: 20px;
        left: 50% !important;
        transform: translateX(-50%);
        border-radius: 15px !important;
    }

    /*
    .btn-new-map {
        margin: 15px 0 0 0 !important;
        width: 100% !important;
        border: none !important;
        border-radius: 2px !important;
        display: inline-block !important;
        height: 36px !important;
        line-height: 36px !important;
        padding: 0 26px !important;
        text-transform: none !important;
        vertical-align: middle !important;
        -webkit-tap-highlight-color: transparent !important;
    }
    */

    .btn-new-map>i{
        line-height: 36px !important;
        margin-right: 0 !important;
    }

    .select-maps{
        padding: 3px 25px 20px 25px;
        border-top: 1px solid lightgray !important;
    }

    .menu-map-option{
        border-top: 1px solid lightgray !important;
    }

    .menu-map-option-category{
        border-bottom: 1px solid lightgray !important;
    }
    
    .btnConvert2Image{
        position: absolute !important;
        top: 5%;
        left: 23.5%;
        width: 300px;
    }

/*  ESTILOS PARA LA PALETA DE COLORES */
    .title-color-radio-button{
        position: absolute;
        width: 100px;
        font-style: normal !important;
        padding: 0px 10px 10px 15px !important;
        color: black;
    }

/*  ESTILOS PARA EL TAMAÑO DE FUENTE */

    .collection-title-format, .collection-map-categories,
    .collection-data, .collection-map-color-palette{
        margin: 15px 15px 15px 15px !important;
    }

    .collection-item-title-format, .collection-item-num-categories{
        padding-left: 15px !important;
        padding-right: 20px !important;
        padding-top: 12px !important;
    }

    .collection-item-color-palette{
        padding: 10px 10px 10px 10px !important;
    }

    .container-size-text div{
        display: inline-block;
        margin: 1px !important;
    }

    .container-size-text{
        padding: 2px 2px 2px 2px !important;
        margin-left: -8%;
        text-align: center;
        
    }

    #txt-size-text, #txtNumCategories{
        height: 50px !important;
        text-align: center !important;
        font-size: 25px !important;
        top: -8px;
        font-weight: bold;
    }

    #btn-more-size-title, #btn-less-size-title,
    #btn-more-categories, #btn-less-categories{
        margin: 2px;
        width: 50px;
        height: 25px;
    }

    .position-size-text-buttons{
        width: 50px;
        padding: 0 0 0 9%;
    }

    .size-text-icon i{
        position: relative;
        font-size: 25px !important;
        top: -5px;
        left: -3px;
    }

    #txt-size-text, #txtNumCategories{
        position: relative;
        top: 0px;
        left: 15px;
        width: 100px;
        height: 65px;
        font-size: 60px !important;
        margin: 0 0 0 0 !important;
        padding: 2px 10px 2px 15px;
        text-align: center;
        border-bottom: 0 !important;
    }

/*  ESTILOS PARA LOS SWITCH */
    .switch-bold-text, .switch-italic-text{
        position: absolute;
        right: 0;
    }

    

    .bold-text-title, .italic-text-title{
        margin: 0px 0px 0px 0px;
    }
    
    .bold-text-title div{
        display: inline-block;
    }

    .italic-text-title div{
        display: inline-block;
    }

    .switch label input[type=checkbox]:checked+.lever {
        background-color: #0288d1 !important;
    }
      
    .switch label input[type=checkbox]:checked+.lever:after {
        background-color: #01579b !important;
    }

/*  BOTÓN PARA CERRAR LA SIDENAV*/
    .btn-close-sidenav{
        position: absolute !important;
        right: 0 !important;
        margin: 5px 5px 5px 50% !important;
    }

    .icon-close-sidenav{
        font-size: 24px !important;
        margin-right: 10px !important;
    }

    .sidenav-overlay{
        background: none !important;
    }

    .border-radius{
        border-radius: 25px !important;
    }

/*  ESTILOS PARA LAS CATEGORIAS     */
    .color-category1, .color-category2, .color-category3,
    .color-category4{
        background-color: rgba(230, 230, 230, 1);
        color: rgba(230, 230, 230, 0) !important;
        width: 35px !important;
        height: 35px !important;
        padding: 5px 5px 5px 5px;
    }

    .icon-white-text-color{
        border: 1px solid darkgray;
        background-color: white;
        color: rgba(230, 230, 230, 0) !important;
        width: 35px !important;
        height: 35px !important;
        padding: 5px 5px 5px 5px;
        border-radius: 50%;
    }

    .lever{
        margin: 0 5px 18px 5px !important;
    }

    .icon-black-text-color{
        border: 1px solid darkgray;
        background-color: black;
        color: rgba(230, 230, 230, 0) !important;
        width: 35px !important;
        height: 35px !important;
        padding: 5px 5px 5px 5px;
        border-radius: 50%;
    }

    .select-colors{
        margin-top: 15px !important;
    }

    .radio-button-container{
        margin-bottom: 0 !important;
        margin-top: -2px !important;
    }

    .color-palett-container{
         margin-left: 15px !important;
         margin-top: 20px !important;
    }

    
    .collection-item-num-categories{
        display: none !important;
    }

    .category1-minmax-container{
        
    }

    /*          BLUE GRAY COLOR           */
    .blue-gray-color-category1{
        color: #eceff1;
        background-color: #eceff1;
    }

    .blue-gray-color-category2{
        color: #b0bec5;
        background-color: #b0bec5;
        margin-left: -5px !important;
    }

    .blue-gray-color-category3{
        color: #78909c;
        background-color: #78909c;
        margin-left: -5px !important;
    }

    .blue-gray-color-category4{
        color: #546e7a;
        background-color: #546e7a;
        margin-left: -5px !important;
    }

    .blue-gray-color-category5{
        color: #37474f;
        background-color: #37474f;
        margin-left: -5px !important;
    }

    .blue-gray-color-category6{
        color: #263238;
        background-color: #263238;
        margin-left: -5px !important;
    }

    /*          BROWN COLOR           */
    .brown-color-category1{
        color: #d7ccc8;
        background-color: #d7ccc8;
    }

    .brown-color-category2{
        color: #bcaaa4;
        background-color: #bcaaa4;
        margin-left: -5px !important;
    }

    .brown-color-category3{
        color: #a1887f;
        background-color: #a1887f;
        margin-left: -5px !important;
    }

    .brown-color-category4{
        color: #795548;
        background-color: #795548;
        margin-left: -5px !important;
    }

    .brown-color-category5{
        color: #5d4037;
        background-color: #5d4037;
        margin-left: -5px !important;
    }

    .brown-color-category6{
        color: #3e2723;
        background-color: #3e2723;
        margin-left: -5px !important;
    }

    /*          GREEN COLOR           */
    .green-color-category1{
        color: #c8e6c9;
        background-color: #c8e6c9;
    }

    .green-color-category2{
        color: #a5d6a7;
        background-color: #a5d6a7;
        margin-left: -5px !important;
    }

    .green-color-category3{
        color: #81c784;
        background-color: #81c784;
        margin-left: -5px !important;
    }

    .green-color-category4{
        color: #4caf50;
        background-color: #4caf50;
        margin-left: -5px !important;
    }

    .green-color-category5{
        color: #388e3c;
        background-color: #388e3c;
        margin-left: -5px !important;
    }

    .green-color-category6{
        color: #1b5e20;
        background-color: #1b5e20;
        margin-left: -5px !important;
    }

    /* TEAL COLOR */    
    .teal-color-category1{
        color: #b2dfdb !important;
        background-color: #b2dfdb;
    }

    .teal-color-category2{
        color: #80cbc4 !important;
        background-color: #80cbc4;
        margin-left: -5px !important;
    }

    .teal-color-category3{
        color: #26a69a !important;
        background-color: #26a69a;
        margin-left: -5px !important;
    }

    .teal-color-category4{
        color: #00897b !important;
        background-color: #00897b;
        margin-left: -5px !important;
    }

    .teal-color-category5{
        color: #00695c !important;
        background-color: #00695c;
        margin-left: -5px !important;
    }

    .teal-color-category6{
        color: #004d40 !important;
        background-color: #004d40;
        margin-left: -5px !important;
    }

    /* BLUE COLOR */

    .blue-color-category1{
        color: #b3e5fc;
        background-color: #b3e5fc;
    }

    .blue-color-category2{
        color: #4fc3f7;
        background-color: #4fc3f7;
        margin-left: -5px !important;
    }

    .blue-color-category3{
        color: #03a9f4;
        background-color: #03a9f4;
        margin-left: -5px !important;
    }

    .blue-color-category4{
        color: #0288d1;
        background-color: #0288d1;
        margin-left: -5px !important;
    }

    .blue-color-category5{
        color: #0277bd;
        background-color: #0277bd;
        margin-left: -5px !important;
    }

    .blue-color-category6{
        color: #01579b;
        background-color: #01579b;
        margin-left: -5px !important;
    }

    .purple-color-category1{
        color: #d1c4e9;
        background-color: #d1c4e9;
    }

    .purple-color-category2{
        color: #b39ddb;
        background-color: #b39ddb;
        margin-left: -5px !important;
    }

    .purple-color-category3{
        color: #7e57c2;
        background-color: #7e57c2;
        margin-left: -5px !important;
    }

    .purple-color-category4{
        color: #5e35b1;
        background-color: #5e35b1;
        margin-left: -5px !important;
    }

    .purple-color-category5{
        color: #4527a0;
        background-color: #4527a0;
        margin-left: -5px !important;
    }

    .purple-color-category6{
        color: #311b92;
        background-color: #311b92;
        margin-left: -5px !important;
    }
    


    .cyan-color-category1{
        color: #b2ebf2;
        background: #b2ebf2;
    }

    .cyan-color-category2{
        color: #80deea;
        background: #80deea;
        margin-left: -5px !important;
    }

    .cyan-color-category3{
        color: #26c6da;
        background: #26c6da;
        margin-left: -5px !important;
    }

    .cyan-color-category4{
        color: #00acc1;
        background: #00acc1;
        margin-left: -5px !important;
    }

    .cyan-color-category5{
        color: #00838f;
        background: #00838f;
        margin-left: -5px !important;
    }

    .cyan-color-category6{
        color: #006064;
        background: #006064;
        margin-left: -5px !important;
    }

    /* INDIGO COLOR */

    .indigo-color-category1{
        color: #c5cae9;
        background-color: #c5cae9;
    }

    .indigo-color-category2{
        color: #7986cb;
        background-color: #7986cb;
        margin-left: -5px !important;
    }

    .indigo-color-category3{
        color: #3f51b5;
        background-color: #3f51b5;
        margin-left: -5px !important;
    }

    .indigo-color-category4{
        color: #3949ab;
        background-color: #3949ab;
        margin-left: -5px !important;
    }

    .indigo-color-category5{
        color: #283593;
        background-color: #283593;
        margin-left: -5px !important;
    }

    .indigo-color-category6{
        color: #1a237e;
        background-color: #1a237e;
        margin-left: -5px !important;
    }

/* - - - - - - - - - - - - - - - - - - - - - - - - */

/*    ESTILOS PARA LOS NOMBRES DE LOS MUNICIPIOS   */
.lblGuanajuato, .lblLeon{
    position: absolute !important;
    z-index: 100;
    display: none;
}

.lblLeon{
    left: 28%;
    top: 41%;
    font-size: 20px;
}

.lblGuanajuato{
    left: 38.8%;
    top: 47.8%;
    font-size: 14px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */

.card-parameters{
    position: fixed !important;
    height: 100%;
    height: calc(100% + 60px);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.card-map{
    width: 65% !important;
    height: 92% !important;
    margin-top: 25px !important;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 15px !important;
}

.map-title{
    margin-bottom: 20px !important;
}

.card-map-content{
    padding-top: 35px !important;
    height: 102% !important;
    background-color: white !important;
}

.sidenav .user-view {
    padding: 15px 32px 0px !important;
}

#slide-out{
    width: 25% !important;
}

#mapa_guanajuato{
    position: absolute;
    border-radius: 25px;
    height: 80% !important;
    width: 90% !important;
}

.col-map{
    padding-left: 5% !important;
    padding-right: 0 !important;
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

